@media screen and (min-width: 769px) and (max-width: 1024px) {
    * {
        transition: all 1s ease;
    }
    body {
        font-size: 14px;
    }
    .block_1{
        background-image: url('image_block_1_2/main_banner_2.png');
        background-size: cover;
        background-position: center;
        min-height: 70vh;

    }
    header {
        background-size: 80% 71.1914vh;
    }
    header::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
    .block_1_navigation {
        height: 9.7656vh;
        width: 40vw;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .block_1_home {
        display: flex;
        align-items: center;
        width: 60%;
    }
    .block_1_home span {
        margin: 0.9375rem;
    }

    .block_1_home span:hover {
        margin: 15px;
    }

    header > .block_1_black > p:nth-child(1) {
        width: 60vw;
        height: 17vh;
        font-size: 3rem;
        margin-left: 10vw;
    }
    header > .block_1_black > p:nth-child(2) {
        width: 45vw;
        height: 6.25vh;
        opacity: 0.8;
    }
    .block_1_black p {
        margin-left: 10vw;
    }

    .block_1_black button {
        margin-top: 12vh;
        margin-bottom: 18vh;

    }

    /************************************BLOCK 2****************************************/

    .block_2_choice {
        height: 860px;
        min-width: 79.7vw
    }
    .block_2_text{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 79.7vw;
        margin: 0 10vw;
    }

    .block_2_coffee_cost {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 79.7vw;
        margin: 0 10vw;

    }
    .block_2_coffee_cost img{
        width: 180px;
        height: 135px;
    }
    .block_2_choice h1 {
        width: 60vw;
        font-size: 3rem;
    }

    .block_2_choice p {
        width: 50vw;
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .block_2_coffee_cost p{
        color: #000;
        font-size: 1.3rem;
        width: 17.8vw;
        margin: 0;
    }
}
